<!DOCTYPE HTML>
<html>
	<head>
		<title>Massimo Pandullo</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<!-- <link rel="stylesheet" href="assets/css/main.css" /> -->
		<%= stylesheet_link_tag "main" %>
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1>Massimo Pandullo</h1>
				<nav>
					<ul>
						<li><a href="#intro">Home</a></li>
						<li><a href="#one"><%= dato.cosa_faccio.title %></a></li>
						<li><a href="#two"><%= dato.chi_sono.title %></a></li>
						<li><a href="#work"><%= dato.lavori.title %></a></li>
						<li><a href="#contact"><%= dato.contattami.title %></a></li>
					</ul>
				</nav>
			</header>

		<!-- Intro -->
			<section id="intro" class="main style1 flex-container <%= vertical_class(dato.home.text_position) %> dark fullscreen background-cover" style="background-image: url('<%= dato.home.image.desktop.url %>');">
				<div class="content">
					<header>
						<h2 class="text-border intro-title"><%= dato.home.title %></h2>
					</header>
					<div class="text-shadow">
            <%= dato.home.description %>
					</div>
				</div>
				<%= image_tag dato.home.image.mobile.url, class: "section-image" %>
				<a href="#one" class="button style2 down anchored">Prosegui</a>
			</section>

		<!-- One -->
			<section id="one" class="main style2 flex-container <%= horizontal_class(dato.cosa_faccio.text_position.value) %> dark fullscreen  background-cover" style="background-image: url('<%= dato.cosa_faccio.image.desktop.url %>');">
				<div class="content box style2">
					<header>
						<h2><%= dato.cosa_faccio.title %></h2>
					</header>
          <%= dato.cosa_faccio.description %>
				</div>
				<%= image_tag dato.cosa_faccio.image.mobile.url, class: "section-image" %>
				<a href="#two" class="button style2 down anchored">Prosegui</a>
			</section>

		<!-- Two -->
			<section id="two" class="main style2 flex-container <%= horizontal_class(dato.chi_sono.text_position.value) %> dark fullscreen background-cover" style="background-image: url('<%= dato.chi_sono.image.desktop.url %>');">
				<div class="content box style2">
					<header>
						<h2><%= dato.chi_sono.title %></h2>
					</header>
          <%= dato.chi_sono.description %>
				</div>
				<%= image_tag dato.chi_sono.image.mobile.url, class: "section-image" %>
				<a href="#work" class="button style2 down anchored">Prosegui</a>
			</section>

		<!-- Work -->
			<section id="work" class="main style3 primary">
				<div class="content">
					<header>
						<h2><%= dato.lavori.title %></h2>
						<%= dato.lavori.description %>
					</header>

					<!-- Gallery  -->
						<div class="gallery">
              <% dato.lavori.lista_lavori.each_with_index do |lavoro, index| %>
								<% image_url = lavoro.image.url(fit: 'clip', w: 1024, h: 1024) %>
								<a href="<%= image_url %>" class="image fit">
									<img src="<%= image_url %>" title="<%= lavoro.description %>" alt="" />
								</a>
              <% end %>
						</div>

				</div>
			</section>

		<!-- Contact -->
			<section id="contact" class="main style3 primary">
				<div class="content">
					<header>
						<h2><%= dato.contattami.title %></h2>
            <p><%= dato.contattami.description %></p>
						<p class="icon-text">
							<i class="icon fa-phone">
								<%= dato.contattami.phone %>
							</i>
						</p>
						<ul class="actions">
              <% dato.contattami.lista_social.each do |social| %>
				        <li><a href="<%= social.url %>" title="<%= social.provider %>" class="icon fa-<%= social.icon %>"><span class="label"><%= social.provider %></span></a></li>
              <% end %>
						</ul>
					</header>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">

				<!-- Menu -->
					<ul class="menu">
						<li><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.it" target="_blank">CC BY-NC-SA 4</a> Massimo Pandullo</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li><li>With ❤️ by <a href="https://olisti.co">@olistik</a></li>
					</ul>

			</footer>

		<!-- Scripts -->
			<%= javascript_include_tag "jquery.min" %>
			<%= javascript_include_tag "jquery.poptrox.min.js" %>
			<%= javascript_include_tag "jquery.scrolly.min.js" %>
			<%= javascript_include_tag "jquery.scrollex.min.js" %>
			<%= javascript_include_tag "skel.min.js" %>
			<%= javascript_include_tag "util.js" %>
			<%= javascript_include_tag "masonry" %>
			<!--[if lte IE 8]><%= javascript_include_tag "/ie/respond.min.js" %><![endif]-->
			<%= javascript_include_tag "main.js" %>

	</body>
</html>
